.container-del {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-delete {
  width: 350px;
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.btn-group {
  margin: 15px 0;
}
